<meta charset="utf-8">

<div id="logoousuisje"></div>

<h1>Are you the biggest loser ever ?</h1>

<h3>Whosthebiggestloser est l'application de la lose. 
Cette application n'a pas pour objectif de vous rendre la vie plus simple mais bel et bien de vous montrer toutes les choses que vous auriez pu et que vous avez loupées.
Vous déclarez vos centres d'intérêt et nous remplissons votre agenda de loser !</h3>

<div id="pote">
	<div id="totoro"></div>
	<p>Site développé avec l'aide de notre ami Totoro, qui a parfaitement complété notre trinôme de choc !</p>
</div>
